@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

@keyframes roll {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.05);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(270deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.tumbleweed-roll {
  animation: roll 5s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.loading-fade {
  animation: fade-in-out 1s ease-in-out;
}

.float-item {
  filter: drop-shadow(
